<!doctype html>
{% load static %}
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Healthfully</title>
	  <link rel="stylesheet"
	         href="https://fonts.googleapis.com/css?family=Raleway">
	  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	</head>

	<body style="min-height: 100vh; background: repeating-linear-gradient(-15deg, #DCF5ED, #FACAA6);">
		<!-- #EEE2D7 70%,  -->
		<div style="padding: 10px 50px 10px 50px; font-size: 20px;">
			Healthfully
		</div>
		<div style="text-align: center;">
			<span style="font-size: 30px;"><b>Stay in touch with your feelings.</b></span><br>
			<span style="font-size: 20px;">Connect to communities, learn, and explore options for support.</span>
		</div>
		<!-- How are you feeling -->
		<div style="display: flex;">
			<div style="width: 550px">
				<!-- <div style="color: transparent; border-radius: 3px; border: 1px solid black; position:absolute; left: 250px; top: 160px; width: 500px; height: 40px;"></div> -->
				<div style="background-color: #CB7979; border-radius: 3px; border: 1px solid #CB7979; position:relative; left:250px; top:250px; width: 500px; height: 40px; line-height: 40px; top: 10px;">
					What's going on?
				</div>
			</div>
			<div 
			<span style="font-size: 15px; position: absolute; left: 450px; top: 155px;"><b>Select up to 3</b></span><br>
		</div>
		<div style="text-align: center;">
			<img src="{% static 'images/cloud.svg' %}" style="width: 600px; height: 300px"><br>
			<div style="width: 600px; height: 300px">
				<!-- margin-top: -600px; width: 600px; height: 300px -->
				<!-- Wordcloud section -->
				<span>alone</span>
				<span style="font-size: 14px">confused</span>
				<span style="font-size: 18px">always tired</span>
				<span>nothing matters</span>
				<span>under the weather</span>
				<span>foggy</span>
				<span>don't want to do anything</span>
				<span>nervous around other people</span>
			</div>

		</div>
		<!-- quote -->
		<div style="text-align: center;">
			<span>"Smile, breathe, and go slowly."</span><br>
			- Thich Nhat Hahn
		</div>
		{% if showContent != "true" %}{% endif %}
		<div style="margin-left: 10%; margin-right: 10%; ">
			<div style="margin-bottom: 10px">
				<div style="text-decoration: underline double; font-size: 24px; margin-bottom: 10px; background: white; width: 210px; padding-bottom: 10px">Blogs and Stories</div>
				<div style="overflow-x: auto; white-space: nowrap;">
					{% for blog in blogs %}
					    <a class="tile" style="width: 315px; height: 300px; margin-right: 15px; display: inline-block; background: white">
							<img src="{% static 'images/sunset.jpg' %}" style="width: 315px; height: 155px"><br>
							<div>
								<div style="margin-top: 10px; margin-left: 10px; display: inline-block;">
									<img src="{% static 'logos/medium.png' %}" style="width: 35px; height: 35px;">
								</div>
								<div style="font-weight: 700; line-height: 35px; display: inline-block; vertical-align: middle; vertical-align: top; width: calc(100% - 50px)">
									<span>#HALFTHESTORY</span><br/>
									<div style="width: 100%; word-wrap:break-word;">A community that encourages you to share a part of yourself that exists outside of your social media story</div>
								</div>
							</div>
					    </a>
					{% endfor %}
				</div>
			</div>
			<div>
				<!-- <div style="text-decoration: underline double; font-size: 24px; margin-bottom: 10px; background: white; width: 170px; padding-bottom: 10px">Communities</div>
				<div style="overflow-x: auto; white-space: nowrap;">
					{% for blog in blogs %}
					    <div style="width: 315px; height: 300px; margin-right: 15px; display: inline-block; background: white">
							<img src="{% static 'images/sunset.jpg' %}" style="width: 315px; height: 155px"><br>
							<div style="width: 100%">
								<div style="margin-top: 10px; margin-left: 10px; display: inline-block;">
									<img src="{% static 'logos/medium.png' %}" style="width: 35px; height: 35px;">
								</div>
								<div style="font-weight: 700; line-height: 35px; height: 35px; display: inline-block;">
									<span>#HALFTHESTORY</span><br/>
									<span>A community that encourages you to share a part of yourself that exists outside of your social media story.</span>
								</div>
							</div>
					    </div>
					{% endfor %}
				</div> -->
			</div>
		</div>
		<div class="footer">
			<div>
				Need help now? <a>Talk to a therapist</a>
			</div>
			National Suicide Prevention Lifeline: 1-888-628-9454
			<br/>
			Healthfully is a not-for-profit organization. Contact us at <b>together@healthfully.com</b> with inquiries for collaborations.
		</div>
	</body>
</html>