<!doctype html>
{% load static %}
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Healthfully</title>
	  <link rel="stylesheet"
	         href="https://fonts.googleapis.com/css?family=Raleway">
	  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body style="min-height: 100vh; background: repeating-linear-gradient(-15deg, #DCF5ED, #FACAA6);">
		<div style="padding: 10px 50px 10px 50px; font-size: 20px;">
			Healthfully
		</div>
		<div style="text-align: center;">
			<span style="font-size: 30px;"><b>Stay in touch with your feelings.</b></span><br>
			<span style="font-size: 20px;">Connect to communities, learn, and explore options for support.</span>
		</div>
		<!-- How are you feeling -->
		<div style="display: flex;">
			<div style="width: 550px">
				<!-- <div style="color: transparent; border-radius: 3px; border: 1px solid black; position:absolute; left: 250px; top: 160px; width: 500px; height: 40px;"></div> -->
				<div style="text-align: center; border-radius: 0px; border: 0px solid #CB7979; position:relative; left:250px; top:250px; width: 500px; height: 40px; line-height: 40px; top: 10px;">
				</div>
			</div>
			<span style="font-size: 15px; position: absolute; left: 450px; top: 155px;"><b></b></span><br>
		</div>
		<div style="text-align: center;">
			<img src="{% static 'images/wordcloud.svg' %}" style="width: 600px; height: 300px; position: absolute; left: 180px; top: 150px"><br>
			<div style="width: 600px; height: 300px">
				<!-- margin-top: -600px; width: 600px; height: 300px -->
				<!-- Wordcloud section -->
<!-- 				<span>alone</span>
				<span style="font-size: 14px">confused</span>
				<span style="font-size: 18px">always tired</span>
				<span>nothing matters</span>
				<span>under the weather</span>
				<span>foggy</span>
				<span>don't want to do anything</span>
				<span>nervous around other people</span> -->
			</div>
		</div>

		<div style="text-align: center;">
			Resources provided are not intended for diagnosis.<br>
			If you're experiencing serious symptoms, please talk to a medical professional.
		</div>

		<div style="text-align: center;">
			<button>
				Find Stories
			</button>
		</div>
		<!-- quote -->
		<div style="text-align: center;">
			<span>"Smile, breathe, and go slowly."</span><br>
			- Thich Nhat Hahn
		</div>

		<div style="margin-left: 10%; margin-right: 10%; ">
			<div style="margin-bottom: 10px">
				<div style="text-decoration: underline double; font-size: 24px; margin-bottom: 10px; background: white; width: 210px; padding-bottom: 10px">Blogs and Stories</div>
				<div style="overflow-x: auto; white-space: nowrap;">
				    <div class="tile">
						<a href="https://medium.com/@charmagne7/anyone-else-lonely-af-3e6b21a1ef0a">
							<img src="{% static 'images/sunset.jpg' %}" class="tile-image"><br>
							<div>
								<div class="tile-icon">
									<img src="{% static 'logos/medium.png' %}">
								</div>
								<div class="tile-text" style="font-weight: 700; line-height: 35px; display: inline-block; vertical-align: middle; vertical-align: top; width: calc(100% - 50px)">
									<span>Anyone else lonely af</span><br/>
									<div style="width: 100%; word-wrap:break-word;">Sometimes I enjoy being alone but I absolutely hate being lonely. I live in a 3 bedroom townhome with my kid and our…</div>
								</div>
							</div>
						</a>
				    </div>
				    <div class="tile">
						<a href="https://medium.com/60-months-to-ironman/when-i-say-im-under-the-weather-8a85af8f8368">
							<img src="{% static 'images/sunset.jpg' %}" class="tile-image"><br>
							<div>
								<div class="tile-icon">
									<img src="{% static 'logos/medium.png' %}">
								</div>
								<div class="tile-text">
									<span>When I say I'm Under the Weather</span><br/>
									<div>'Under the weather’ is a certain kind of overwhelm. When we got home on Sunday night, I realized I just wasn’t feeling it. Wasn't feeling up to the newsletter...</div>
								</div>
							</div>
						</a>
				    </div>
				    <div class="tile">
						<a href="https://medium.com/@davidlykhim/a-reflection-on-how-i-dug-myself-out-of-the-millennial-mental-health-decline-831ae56e721c">
							<img src="{% static 'images/sunset.jpg' %}" class="tile-image"><br>
							<div>
								<div class="tile-icon">
									<img src="{% static 'logos/medium.png' %}">
								</div>
								<div class="tile-text">
									<span>A Reflection on How I Dug Myself Out of the Millennial...</span><br/>
									<div>I stopped using dating apps. This was a big one. At every idle moment, I had a habit of pulling out my phone, opening a dating app...</div>
								</div>
							</div>
						</a>
				    </div>
				</div>
			</div>
			<div>
				<div style="text-decoration: underline double; font-size: 24px; margin-bottom: 10px; background: white; width: 170px; padding-bottom: 10px">Communities</div>
				<div style="overflow-x: auto; white-space: nowrap;">
				    <div class="tile">
						<a href="https://www.reddit.com/r/Anxiety/">
							<img src="{% static 'images/sunset.jpg' %}" class="tile-image"><br>
							<div>
								<div class="tile-icon">
									<img src="{% static 'logos/medium.png' %}">
								</div>
								<div class="tile-text">
									<span>r/anxiety</span><br/>
									<div>Discussion and support for sufferers and loved ones of any anxiety disorder.</div>
								</div>
							</div>
						</a>
				    </div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				Need help now? <a>Talk to a therapist</a>
			</div>
			National Suicide Prevention Lifeline: 1-888-628-9454
			<br/>
			Healthfully is a not-for-profit organization. Contact us at <b>together@healthfully.com</b> with inquiries for collaborations.
		</div>
	</body>
</html>